<div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 *ngIf="success">Registration with</h1>
            <h1 *ngIf="error">Registration</h1>

            <div class="alert alert-success" *ngIf="success">
                <strong>Registration saved!</strong> Please check your email for confirmation.
            </div>

            <div class="alert alert-danger" *ngIf="error">
                <strong>Registration failed!</strong> Please try again later.
            </div>

            <jhi-social *ngIf="success" provider="{{ provider }}"></jhi-social>
            <br/>
        </div>
    </div>
</div>
